name: CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        django: ["4.2", "5.2", "6.0"]
        exclude:
          - python: "3.13"
            django: "4.2"
          - python: "3.14"
            django: "4.2"
          - python: "3.10"
            django: "6.0"
          - python: "3.11"
            django: "6.0"

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
    - uses: actions/cache@v5
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install django~=${{ matrix.django }}
    - name: Lint
      run: scripts/check
    - name: Run tests
      run: scripts/test
